#board_list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 20px;
  margin: 100px 50px;
}

#header {
  display: flex;
  gap: 20px;
}

#user_section > h3 {
  color: darkgrey;
}

#buttons {
  display: flex;
  justify-content: center;
}
